<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @app.name %>, here is your appointment reminder:</h2>
    <p>
       Location: 
       <%= @app.location%><br>
       Time:
       <%= @app.date%><br>

       Sincerely,
       Wei Lu
       <img src="http://www.resilandhomes.com/images/resilandhomes.jpg" alt="Resiland Homes">
    
  </body>
</html>