<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>




<h1> <a href="http://localhost:3000/"><%= image_tag("logos/logo.PNG") %></a></h1>
<h1>Tyne</h1>
  
<script>
        writeMenu();
        if (window.addEventListener)
        window.addEventListener("load", createcssmenu2, false)
        else if (window.attachEvent)
        window.attachEvent("onload", createcssmenu2)
    </script>

       <script type="text/javascript">
            var image1=new Image()
            image1.src="http://resilandhomes.com/images/Tyne/1.jpg"
            var image2=new Image()
            image2.src="http://resilandhomes.com/images/Tyne/2.jpg"
            var image3=new Image()
            image3.src="http://resilandhomes.com/images/Tyne/3.jpg"
             var image4=new Image()
            image4.src="http://resilandhomes.com/images/Tyne/4.jpg"
            var image5=new Image()
            image5.src="http://resilandhomes.com/images/Tyne/5.jpg"
            var image6=new Image()
            image6.src="http://resilandhomes.com/images/Tyne/6.jpg"
            var image7=new Image()
            image7.src="http://resilandhomes.com/images/Tyne/7.jpg"
            var image8=new Image()
            image8.src="http://resilandhomes.com/images/Tyne/8.jpg"
            var image9=new Image()
            image9.src="http://resilandhomes.com/images/Tyne/9.jpg"
            var image10=new Image()
            image10.src="http://resilandhomes.com/images/Tyne/10.jpg"
            var image11=new Image()
            image11.src="http://resilandhomes.com/images/Tyne/11.jpg"
            var image12=new Image()
            image12.src="http://resilandhomes.com/images/Tyne/12.jpg"
            var image13=new Image()
            image13.src="http://resilandhomes.com/images/Tyne/13.jpg"
            var image14=new Image()
            image14.src="http://resilandhomes.com/images/Tyne/14.jpg"
             var image15=new Image()
            image15.src="http://resilandhomes.com/images/Tyne/15.jpg"
            var image16=new Image()
            image16.src="http://resilandhomes.com/images/Tyne/16.jpg"
                var image17=new Image()
            image17.src="http://resilandhomes.com/images/Tyne/17.jpg"
            var image18=new Image()
            image18.src="http://resilandhomes.com/images/Tyne/18.jpg"
            var image19=new Image()
            image19.src="http://resilandhomes.com/images/Tyne/19.jpg"
             var image20=new Image()
            image20.src="http://resilandhomes.com/images/Tyne/20.jpg"
            var image21=new Image()
            image21.src="http://resilandhomes.com/images/Tyne/21.jpg"
            var image22=new Image()
            image22.src="http://resilandhomes.com/images/Tyne/22.jpg"
            var image23=new Image()
            image23.src="http://resilandhomes.com/images/Tyne/23.jpg"
            var image24=new Image()
            image24.src="http://resilandhomes.com/images/Tyne/24.jpg"
            var image25=new Image()
            image25.src="http://resilandhomes.com/images/Tyne/25.jpg"
            var image26=new Image()
            image26.src="http://resilandhomes.com/images/Tyne/26.jpg"
            var image27=new Image()
            image27.src="http://resilandhomes.com/images/Tyne/27.jpg"
            var image28=new Image()
            image28.src="http://resilandhomes.com/images/Tyne/28.jpg"
            var image29=new Image()
            image29.src="http://resilandhomes.com/images/Tyne/29.jpg"
            var image30=new Image()
            image30.src="http://resilandhomes.com/images/Tyne/30.jpg"
             var image31=new Image()
            image31.src="http://resilandhomes.com/images/Tyne/31.jpg"
            
     </script>  
     <img src="http://resilandhomes.com/images/Tyne/1.jpg" name="slide" height="500" STYLE="border-radius: 5%" class="center" />
     <script type="text/javascript">
     
       //variable that will increment through the images
       var step=1
       function slideit(){
       //if browser does not support the image object, exit.
       if (!document.images)
       return
       document.images.slide.src=eval("image"+step+".src")
       if (step<31)
       step++
       else
       step=1
       //call function "slideit()" every 2.5 seconds
       setTimeout("slideit()",2500)
       }
       slideit()
      
   </script>
   <table align="center">
<tr><td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
						<td valign="middle" width="240">Free standing units</td>
			</tr>
			<tr>
			            <td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
			            <td valign="middle" align=left>Beautiful Mediterranean construction</td>
			</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Private Backyard 
														</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Private driveway 
														 </td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>High end 
														traditional finishes throughout 
												</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Pre-wired for security, surrounding sound, cable, data</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Custom solid 
														maple cabinetry 
												</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Stainless steel appliances</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Stucco exterior 
												</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Energy efficient 
														construction</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Large walk in 
														master closets</td>
											</tr>
											<tr>
												<td width="5" valign="middle"><img src="http://resilandhomes.com/images/devdetail_arrow.gif"></td>
												<td valign="middle" align=left>Frameless shower 
														and jet tub in master</td>
											</tr>
                                        <tr><td colspan=2><br><br>
Nestled within Houston’s Inner Loop, Rice Military features a mixture of residential neighborhoods, gated communities, restaurants, bars, and lounges.<br><br>

* GREAT LOCATION: Rice Military is one of Houston’s Most Accessible Neighborhoods. The neighborhood is approximately 5 minutes from Downtown Houston, 2 miles from the Galleria, and 3 miles from the Medical Center.
<br><br>
* THRIVING REAL ESTATE MARKET: Rice Military is among the hottest Houston neighborhoods, both in terms of Land Value Appreciation and Real Estate Appreciation. The shift during the 2000’s revitalized the neighborhood, breathing new life into the area’s real estate market.<br><br>
* GOOD SCHOOLS: Lamar High School and Hogg Middle School, both among the best schools in the Greater Houston area and IB World Schools, serve the Rice Military area.<br><br>
* LUXURY GATED COMMUNITIES: The neighborhood features many beautiful homes and townhomes within gated communities. Caceres, one of Houston’s Best Gated Communities, is located within Rice Military.<br><br>

* EXCITING OUTDOOR ACTIVITIES: Rice Military residents enjoy direct access to Memorial Park, one of Houston’s largest parks. Memorial Park is home to a wide range of outdoor activity areas and facilities, miles of multi-use trails, and a top-rated golf course.<br><br>
* ACTIVE CIVIC CLUB: Rice Military Civic Club provides additional security and organizes community events, among other things. The smaller neighborhoods and subdivisions that make up the Rice Military/Washington Avenue area (between Westcott and Sawyer) also have their own HOAs.<br><br>
* RETAIL/ENTERTAINMENT: Restaurants, retail stores, lounges, and bars line the area’s main thoroughfares: Washington Avenue and Memorial Drive.
	<br><br><td width="8">		
</td></tr>
</table>	
   

</body>
</html>

