
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   


</head>


<body onload = "startTimer()">


    


<h1> <a href="http://localhost:3000/"><%= image_tag("logos/logo.PNG") %></a></h1>
</head>




<img src="http://www.resilandhomes.com/images/home/3.jpg" class="center">


<p>Resiland Inc. is a Houston based custom home builder. It started its business since 2005 when Houston downtown is being 
rebuilt. Since then it continues offering its new home designs in many high desirable communities featuring upscale, urban 
living at unmatched values in Houston loop area. Whether you’re relocating to Houston or simply making a move within the city, 
you’ll be amazed by our charming communities filled with unique architecture. Resiland is committed to consistently deliver the
 high quality home and customer services to you. It begins with our ability to locate prime parcels of land, first-rate 
 materials and the top suppliers. And it continues on with our experienced architectures and engineers, high-quality exterior
  and interior home options to our effective management of new home construction. Resiland takes great pride in constructing the
   superior dwelling houses of your dream. Resiland team of professionals and skilled staffs take your business seriously and 
   the company has proved itself to be the leading builder of delivering the supreme qualities to our clients. Resiland strongly 
   believes in client satisfaction. Each project is undertaken with the client as a partner. Client’s satisfaction is always 
   the ultimate goal and measurements. </p>

</body>


</html>