<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Wei, <%= @comment.name %> left you a message:</h1>
    <p>
      
       <%= @comment.comment %><br>
       Email: <%= @comment.email %>
       <img src="http://www.resilandhomes.com/images/resilandhomes.jpg" alt="Resiland Homes">
    
  </body>
</html>
