<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>



<h1> <a href="http://localhost:3000/"><%= image_tag("logos/logo.PNG") %></a></h1>
<h1>Petty Trail</h1>
<img src="http://resilandhomes.com/images/PettyTrail/1.jpg" class="center"/>  

   <p>Resiland Homes has built serveral communities in Cottage Grove Area. Petty Trail on Petty is newly added on Barrington Court on Larkin, Darling Court on Darling, Detering Court on Detering, and Kiam community which has as many as 23 units. Cottage grove area is a newly developped area with surounding beautiful homes, high quality of local medical facilities, heights or memorial school systems, easy access to downtown, full of cultural events, parks, places of worship, and any other services that are important to your quality of life. Cottage Grove is Located just blocks away from Washington Ave and it's restaurants, shopping & nightlife. It is only minutes away to Downtown, Galleria, Montrose and Houston's Memorial Park, the largest public park with jogging/walking, hike and bike trails, Golf course driving range. 
   </p>
   

</body>
</html>