<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Gochi+Hand&display=swap" rel="stylesheet">

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/">HOME</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="http://localhost:3000/contact/index" role="button">
    CONTACT US
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/" role="button">
      PROJECTS
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/" role="button">
      NEW DEVELOPMENT
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/infos" role="button">
      REQUEST MORE INFO
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/comments" role="button">
      LEAVE A MESSAGE
      </a>
    </div>
  </form>
</nav>

<h1> <a href="http://localhost:3000/"><img src="http://www.resilandhomes.com/images/resilandhomes.jpg" alt="Resiland Homes"></a></h1>

