// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

h1 {
    text-align: center;
  }

  h2 {
    font-family: 'Abril Fatface', ;
    text-align: center;
  }

  p {
    font-family: 'Gochi Hand', ;
    margin: 25px 75px 75px 100px;
  }

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
 }