// Place all the styles related to the petty controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
  }

  h2 {
    
    text-align: center;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 25px 75px 75px 100px;
  }