<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<h1> <a href="http://localhost:3000/"><%= image_tag("logos/logo.PNG") %></a></h1>
  

<ul>
<li><a href="http://localhost:3000/petty/index">Petty Trail</a></li>
<li><a href="http://localhost:3000/tyne2/index">Tyne</a></li>
<li><a href="http://localhost:3000/timberside/index">TimberSide</a></li>  
</ul>

</body>
</html>